version: "3.9"

services:
  api:
    build: .
    container_name: chronicle-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: npm run start:dev
    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: chronicle-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: chronicle-redis
    ports:
      - "6379:6379"
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres_data: