version: "3.9"

services:
  api:
    build: ./api
    container_name: chronicle-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - celery-api
    command: npm run start:dev
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: chronicle-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: chronicle-redis
    ports:
      - "6379:6379"
    env_file:
      - .env
    restart: unless-stopped

  celery-api:
    build: 
      context: ./celery-worker
      dockerfile: Dockerfile.api
    container_name: chronicle-celery-api
    env_file: .env
    depends_on:
      - redis
      
  celery-worker:
    build:
      context: ./celery-worker
      dockerfile: Dockerfile.worker
    container_name: chronicle-celery-worker
    env_file: .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data: